* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#toggle {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

#toggle + label {
  background-color: yellow;
  display: block;
  width: 50px;
  border: 2px blue solid;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.toggle-switch {
  padding: 50px;
}

label {
  display: flex;
}

.buttons {
  border: 2px blue solid;
  display: flex;
  padding: 2px;
  justify-content: center;
}
