* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#toggle {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

#toggle + label {
  background-color: #00eeff;
  width: 50px;
  border-radius: 30px;
  border: 2px #ff8800 solid;
  position: relative;
  cursor: pointer;
}

.toggle-switch {
  padding: 50px;
}

#toggle ~ label {
  display: block;
  width: 50px;
  height: 26px;
}

#toggle + label > .circle {
  border-radius: 50%;
  border: 2px #ff8800 solid;
  background-color: yellow;
  height: 100%;
  aspect-ratio: 1 / 1;
  position: absolute;
  left: 0%;
  transform: translateX(0);
  transition: 0.8s left, 0.8s transform;
}

#toggle:checked + label > .circle {
  left: 100%;
  background-color: beige;
  border: 2px silver solid;
  transform: translateX(-100%);
  transition: 0.8s left, 0.8s transform;
}

#toggle:checked + label {
  background-color: #0a0c6d;
  border: 2px silver solid;
}
/*
  #toggle:checked label .circle {
    animation-name: toggle-switch-mozgatas-hatra;
    animation-duration: 0.8s;
  }
  */
@keyframes toggle-switch-mozgatas-elore {
  0% {
    left: 0%;
  }
  25% {
    left: 25%;
  }
  50% {
    left: 50%;
  }
  75% {
    left: 75%;
  }
  100% {
    left: 100%;
  }
}

@keyframes toggle-switch-mozgatas-hatra {
  100% {
    left: 100%;
  }
  75% {
    left: 75%;
  }
  50% {
    left: 50%;
  }
  25% {
    left: 25%;
  }
  0% {
    left: 0%;
  }
}
